@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dark-mode {
    background: linear-gradient(to bottom, #0c0d1e, #003336);
}

.light-mode {
    background: linear-gradient(to bottom, #9bc0c1, #0f6f9f);
}.nav-item{
    display:flex;
    justify-content: space-around ;
    list-style-type: none;
    margin-top: 8%;
    }
.nav-link{
    color:white;
    text-decoration: none;
    font-family:'Exo 2';
    font-size: 20px;
}
.nav-link:hover{
    color:#fff4a3;
}
header h1{
    color: white;
    font-weight: 900;
    font-family: "Source Sans 3", bold;
    font-style: normal;
    margin-top: 2%;
    font-size: 65px;
    margin-left: 6%;
}

footer{
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content:center;
    margin-bottom: 20px;
    margin-top: 10%;
}

.anterior{
    font-family: "Source Sans 3", bold;
    font-weight: 800;
    list-style: none;
    text-align: center;
    background-color: black;
    border-radius: 3cap;
    height: 35px;
    width: 160px;
    border: solid 1px white; 
    margin-left: 3%;
} 
.próximo {
    font-family: "Source Sans 3", bold;
    font-weight: 800;
    list-style: none;
    text-align: center;
    background-color: #d9d9d9;
    border-radius: 3cap;
    border: solid 1px black;
    height: 35px;
    width: 160px;
    margin-left:1%;
}

.light-mode h1{
    color: #000633;
}
.margin{
    margin-top: 3%;
    margin-left: 2.5rem ;
    

}


section h2{
    color:#d4af37;
    font-family: "Source Sans 3";
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 0.5rem;
    margin-top: 20px;
    margin-left: 1.5rem;
}

.light-mode section h2{
    color: #9c7d1f;
}

p{
    color: aliceblue;
    font-size: larger;
    font-family: "Lato";
    font-weight: 600;
    text-align: justify;
    padding: 0rem 4rem;
}

.dodp{
    padding: 2rem 4rem;
}


ol{
    color: whitesmoke;
    font-size: larger;
    font-weight: 900;
    font-family: "Source Sans 3";
    margin-left: 0px;
    text-align: justify;
    padding: 0 4rem;
}
ol li::marker{
    color: #d4af37;
}

.light-mode ol{
    color:#0f122f;
}

.light-mode ol li::marker {
    color: #886a07;
}
    

.avaliação{
    font-family: "Source Sans 3", bold;
    font-weight: 800;
    list-style: none;
    background-color: #d9d9d9;
    border-radius: 3cap;
    border: solid 1px black;
    height: 35px;
    width: 180px;
    text-align: center;
    font-size: 16px;
    padding: 0px;
}

.fontea{
    color:black !important;
    text-decoration: none;   
}
.home{
    display: flex; 
    margin-top: -3%;
}
.home img{
    width: 50px;
    
}
.soft{
    display: flex;
    gap:12px;
    margin-left: 1%;
    
}
.alinhar{
    display: flex;
    justify-content:baseline;
    gap: 80px;
}
main{
    margin: 3rem;
    align-items: center;
    justify-content: center;
}
#introimg{
    width: 360px;
    height:310px;
    float:inline-start;
    margin-left: 2%;
    margin-top: -2%;
}

#h3branco{
    background-color:#d9d9d9;
    color: black;
    font-family: 'Source Sans 3';
    font-weight: 800;
    width: 500px;
    height: 35px;
    font-size: 50px;
}

#resumo{
    background-color: #04AA6D;
    padding: 2rem;
    margin: 1rem;
    border-radius: 1.8cap;
    justify-content: space-between;
    align-items: center;
}

.resumo h3{
    color:#0c0d1e;
    text-align: center;
    padding-top: 50px;
    font-size: 20px;
    font-family: "Source Sans 3", bold;
    font-weight: 900;
}
.resumo{
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}
#img{
    width: 300px;
    height: 280px;
    margin-left: 40%;
    margin-top: -5%;
    justify-content: center;
    align-items: center;
}
#imgartefatos{
    float:left;
    width: 350px;
    height: 350px; 
    margin-right: 1rem;
    margin-top: 2%;
    margin-left: 5%;
    border-radius: 1cap;

}
#burndown {
    display: flex;
    padding: 1rem;
    margin: 6vh auto;
    justify-content: center;
    position: relative;
    width: 90vh; 
}


#imgdor{
    width: 250px;
    height: 220px;
    float:  right;
    border-radius: 25%;
    margin-right: 2rem;
    margin-left: 1rem;
    margin-top: 1%;
    background-color: #f4f4f4;
    display: flex;
}
#imgdod{
    width: 250px;
    height: 220px;
    border-radius: 25%;
    float: inline-start;
    margin-top: 1%;
    margin-right: 1rem;
    margin-left: 2rem;
}
#imgsoftskills{
    width: 400px;
    height: 350px;
    float: inline-end;
    margin-right: 70px;
    border-radius: 20%;
    margin-left: 2rem;

}
#ajusteresp{
    margin-top: 3%;
}
#hardesoftimg{
    width: 400px;
    height: 350px;
    border-radius: 20%;
    float: inline-start;
    margin-left: 4%;
    padding-right: 20px;
    margin-top: -2%;

}
#imgscrum{
    float: inline-end;
    width: 400px;
    height: 350px; 
    margin-right:2%;
    padding-left: 20px;
    margin-top: -5%;
}
#timescrum{
    float: left;
    width: 400px;
    height: 350px; 
    margin-left:3%;
    margin-top: -6%;
    padding-right: 20px;

}

#mvpimg{
    width: 600px;
    height: 250px;
    margin-left: 27%;
    margin-top: 3%;
    margin-bottom: 1rem;
}

#alinhar{
    width: 1350px;
}


.burndown {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-group {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

input {
    padding: 8px;
    width: 120px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#modalburndown {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.chart-container {
    position: relative;
    height: 400px;
    width: 100%;
}

#btnmodalburndown{
    background-color: #039660;
    border: none;
    margin-left: 4rem;
}

#atualizargrafico{
    background-color:#04AA6D;
    border: none;

}

table {
    border-collapse: collapse;
    margin: 20px;
}
td {
    width: 350px;
    height: 250px;
}
.drag-item {
    display: flex;
    width: 300px;
    height: 80px;
    padding: 5px;
    background-color: rgb(204, 202, 54);
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    cursor: grab;
    border-radius: 25px;
}

#cell1{
    background-color: #FF6F61;
    border: 2px, solid #000000
}

#cell2{
    background-color: #FFB88C;
    border: 2px, solid #000000
}

#cell3{
    background-color: #77DD77;
    border: 2px, solid #000000
}

#cell4{
    background-color: #FFEB99;
    border: 2px, solid #000000
}

.containerbacklog {
    display: flex; 
    gap: 120px; 
}

#items, #items2 {
    display: block;
    width: 200px; 
    margin-left: 35px;
}

.drag-item {
    padding: 10px;
    background-color: #d3d3d3;
    text-align: center;
    border-radius: 8px;
    cursor: grab;
    margin-bottom: 10px; 
}

#btnmodalbacklog{
    background-color: #04AA6D;
    border: none;
    margin-left: 4rem;
}

#fecharbacklog{
    background-color: red;
    border: none;
}

input[type="checkbox"] {
    display: none;
}

label {
    background-color:#04AA6D;
    color: white;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    display: block;
    width: 210px;
    text-align: left;
}

input[type="checkbox"]:checked + label + .content {
    display: block;
}

.content {
    display: none;
    background-color: white;
}

#imggabarito{
    width: 600px;
    height: 900px;
}

.question input[type="radio"] {
    margin-right: 10px;
}

.result {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.question {
    color: #000; 
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: x-large;
    background-color: #f2f2f2;
}
.question input[type="radio"] {
    margin-right: 10px;
}

#resultadosk{
    background-color: #04AA6D;
    border-radius: 20px;
    border: none;
    width: 120px;
    height: 50px;
}


#mensagens {
    max-height: 400px;
    overflow-y: auto;
    margin-bottom: 20px;
}

.mensagem {
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
    font-size: 1.1rem;
    width: 80%;
    max-width: 90%;
}

.bot-mensagem {
    background-color: #e2e3e5;
    text-align: left;
}

.user-mensagem {
    background-color: #04AA6D;
    color: white;
    text-align: right;
}

.options {
    margin-top: 20px;
}

.btnopçoes {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    font-size: 1rem;
    text-align: left;
    border: none;
    background-color:#04AA6D;
    color: white;
    border-radius: 5px;
}

.btnopçoes:hover{
    background-color: #d4af37;
}

.btn-primary{
    margin-left: 60px;
    border: none;
    background-color: #04AA6D;
}

.btn-primary:hover{
    background-color: #04AA6D;
}

@media  screen and (max-width:768px){
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 25px;
    }
    p{
        font-size: 20px;
        width: 90%;
    }
    ol{
        font-size: 20px;
        margin-left: 50px;
    }
    #introimg{
        width: 260px;
        height:210px;
    }
    #imgscrum{
        width: 270px;
        height: 210px; 
        margin-left: 2%;
    }
    #timescrum{
        width: 280px;
        height: 220px; 
    }
    #imgartefatos{
        width: 250px;
        height: 250px; 
    }
    #burndown{
        margin-left: 15%;
        width: 500px;
    }
    #imgdor{
        width: 170px;
        height: 140px;
        margin-right: 3%;
        margin-left: 2%;
    }
    #imgdod{
        width: 170px;
        height: 140px;
        margin-right: 2%;
        margin-left: 2%;
    }
    #imgsoftskills{
        width: 300px;
        height: 250px;
        margin-top: 12% ;
    }
    #hardesoftimg{
        width: 300px;
        height: 250px;
        margin-right: 0%;
    }
    #img{
        width: 280px;
        height: 230px;
        margin-left: 25%;
    }
    #alinhar{
        width: 650px;
    }
    .resumo h3{
        padding-top: 60px;
        font-size: 17px;
    }
    #resumo{
        width: 170px;
        height: 120px;
    }
    h3{
        width: 300px;
        height: 25px;
        font-size: 18px;
    }
    
    #h3branco{
        font-weight: 900;
        width: 320px;
        height: 25px;
        font-size: 18px;
    }
    #mvpimg{
        width: 500px;
        height: 200px;
        margin-left: 15%;
    }
    #btnmodalburndown{
        margin-left: 35%;
    }
    #btnmodalbacklog{
        margin-left: 35%;
    }
    #resumo{
        
    }
}

@media  screen and (max-width:520px){
    h1{
        font-size: 35px;
        margin-top: 50px;
    }
    h2{
        font-size: 20px;
    }
    .alinhar{
        display: block;
    
    }
    .alinhar img{
        width: 180px;
        height: 160px;
        margin-top: -10%;
        margin-left: 10%;
        margin-bottom: 2%;
    }
    p{
        font-size: 18px;
        width: 90%;
    }
    ol{
        font-size: 16px;
        margin-left: 30px;
    }
    #introimg{
        width: 220px;
        height:180px;
        float: inherit;
        margin-left: 18%;
    }
    #imgscrum{
        width: 270px;
        height: 210px; 
        margin-left: 10%;
        float: inherit;
    }
    #timescrum{
        width: 280px;
        height: 220px; 
        float: inherit;
        margin-left: 10%;
    }
    #imgartefatos{
        width: 190px;
        height: 190px; 
    }
    #burndown{
        margin-left: 0%;
        width: 400px;
        margin-bottom: 5%;
    }
    #imgdor{
        width: 180px;
        height: 150px;
        float: initial;
    }
    #imgdod{
        width: 180px;
        height: 150px;
        float: initial;
        margin-top: 5%;
    }
    #imgsoftskills{
        width: 270px;
        height: 210px;
        float: initial;
        margin-left: 25%;
    }
    #hardesoftimg{
        width: 270px;
        height: 210px;
        float: initial;
        margin-left: 15%;
    }
    #img{
        width: 250px;
        height: 210px;
        margin-left: 17%;
    }
    #alinhar{
        width: 430px;
    }
    .resumo h3{
        padding-top: 40px;
        font-size: 15px;
    }
    #resumo{
        width: 110px;
        height: 90px;
    }
    #h3branco{
        width: 350px;
        height: 25px;
    }
    h3{
        width: 350px;
    }
    #mvpimg{
        width: 300px;
        height: 180px;
    }
    .anterior{
        width: 150px;
    }
    .próximo{
        width: 150px;
    }
}

@media  screen and (max-width:412px){
    header h1{
        font-size: 45px;
        margin-top: 50px;
        margin-left: 4%;
        
    }
    h2{
        font-size: 30px;
        margin-top: 2%;
    }
    .alinhar{
        display: block;
    
    }
    .alinhar img{
        width: 180px;
        height: 160px;
        margin-top: -10%;
        margin-left: 10%;
        margin-bottom: 2%;
    }
    p{
        font-size: 20px; 
        width: 100%;
   }
    ol{
        font-size: 18px;
        margin-left: 15px;
    }
    #introimg{
        width: 200px;
        height:180px;
        margin-left: 20%;
        float: inherit;
    }
    #imgscrum{
        width: 230px;
        height: 200px; 
        margin-left: 18%;
        float: inherit;
    }
    #timescrum{
        width: 230px;
        height: 200px; 
        float: inherit;
        margin-left: 18%;
    }
    #imgartefatos{
        width: 280px;
        height: 160px; 
        float: inherit;
        margin-left: 15%;
    }
    #burndown{
        margin-left: 15%;
        width: 300px;
        margin-bottom: 5%;
    }
    #imgdor{
        width: 140px;
        height: 120px;
        float: initial;
        margin-left: 12%;
        margin-top: 5%;
    }
    #imgdod{
        width: 140px;
        height: 120px;
        float: initial;
        margin-top: 5%;
        margin-left: 3%;
    }
    #btnmodalburndown{
        margin-left: 25%;
    }

    h3{
        width: 70px;
        height: 10px;
        padding: 10px;
        font-size: 12px;
    }
    #imgsoftskills{
        width: 300px;
        height: 230px;
        float: initial;
        margin-left: 10%;
        margin-top: -3%;
    }
    #hardesoftimg{
        width: 300px;
        height: 230px;
        float: initial;
        margin-left: 17%;
    }

    #btnmodalbacklog{
        margin-left: 25%;
    }
    #img{
        width: 230px;
        height: 190px;
        margin-left: 25%;
    }
    #responsividadems{
        width: 400px;
    }
    #responsividade{
        font-size: 20px;
        width: 400px;
        margin-right: 10%;
    }
    #alinhar{
        width: 310px;
    }
    #resumo{
        width: 120px;
        height: 110px;
        font-size: 15px;

    }
    #mvpimg{
        width: 270px;
        height: 150px;
        margin-left: 15%;
    }
    .home{
        gap:100px;
    }
    .avaliação{
        font-size: 15px;
        width: 180px;
    }
    .anterior{
        width: 130px;
        margin-right: 2%;
    }
    .próximo{
        width: 130px;
        margin-left: 2%;
    }
    #resumo{
        padding: 1rem;
        margin: 1rem;
    }
    
    .resumo h3{
        font-size: 11px;
        padding-bottom: 10px;
    }
}