@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

body{  
    background: linear-gradient(to bottom, #0c0d1e, #003336);
}

header{
    color: white;
    font-weight: 800;
    font-family: "Source Sans 3", bold;
    font-style: normal;
    font-size: 30px;
    margin-left: 50px;
}

footer{
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content:center;
    margin-bottom: 20px;
    margin-top: 20%;
}

.fonteb{
    color:white !important;
    text-decoration: none;
}

.anterior{
    font-family: "Source Sans 3", bold;
    font-weight: 800;
    list-style: none;
    text-align: center;
    background-color: black;
    border-radius: 3cap;
    height: 25px;
    width: 120px;
    padding: 2px;
    border: solid 1px white;     
}

.fontep{
    color: black !important;
    text-decoration: none;
}

.próximo {
    font-family: "Source Sans 3", bold;
    font-weight: 800;
    list-style: none;
    text-align: center;
    background-color: #d9d9d9;
    border-radius: 3cap;
    height: 25px;
    width: 120px;
    padding: 2px;
    margin-left: 1%;
}

h1{
    color: white;
}

h2{
    color:#d4af37;
    font-family: "Source Sans 3";
    font-weight: 900;
    font-size: xx-large;
    margin-bottom: 50px;
    margin-top: 80px;
}

p{
    color: whitesmoke;
    font-size: x-large;
    font-family: "Lato";
    font-weight: 900;
}

section{
    margin-left: 50px;
}

ol{
    color: whitesmoke;
    font-size: x-large;
    font-weight: 900;
    font-family: "Source Sans 3";
    margin-left: 70px;
}
    

.avaliação{
    font-family: "Source Sans 3", bold;
    font-weight: 800;
    list-style: none;
    background-color: #d9d9d9;
    border-radius: 3cap;
    border: solid 1px black;
    height: 25px;
    width: 180px;
    text-align: center;
    font-size: 16px;
    padding: 4px;
    margin-top: 3%;
    margin-left: -3%;
}

.fontea{
    color:black !important;
    text-decoration: none;   
}
.home{
    display: inline-block; 
    margin-left: -8.5%;
    margin-top:-0.8%;
}
.home img{
     width: 50px;
    
}
.soft{
    display: flex;
    gap:20px;
    margin-left: 2.5%;
    margin-top: -0.7%;
}